Django==1.3
http://sourceforge.net/projects/dbfpy/files/dbfpy/2.2.5/dbfpy-2.2.5.tar.gz/download
http://thumbnail.sorl.net/sorl-thumbnail-3.2.5.tar.gz
https://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz
django-pagination==1.0.7
django-ratings==0.3.6

httplib2==0.7.1
oauth2==1.5.170
python-twitter==0.8.2
psycopg2==2.4.2

PIL==1.1.7
pytz==2011h
